@font-face {
  font-family: system_font;
  src: url(./assets/fonts/Cerebrisans/regular.ttf);
}

html,
*,
body {
  font-family: system_font;
}

.active {
  font-weight: bold;
}

.bg-glass {
  width: 100%;
  background: inherit;
  background-color: rgba(255, 255, 255, 0.7) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  backdrop-filter: blur(10px) !important;
}

.list-group {
  border-radius: 5px;
  border: 1px solid #dc354618;
}

.list-group-item {
  color: #000000;
  font-weight: 600;
}

.list-group .list-group-item:hover {
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: height ease-in-out 0.3s;
  background-color: #0068f6;
}

.bg-blue {
  background-color: #4285f4;
}

.bg-background {
  background-color: #f5f5f5;
}

.btn-red {
  color: white;
  background-color: #dc3545;
}

.btn-red:hover {
  color: white;
  background-color: rebeccapurple;
}

.form__register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: contain;
}

.card__product {
  width: 11rem;
  border: 1px solid red;
}

.card__product:hover .btn__add-to-cart {
  transition: all 0.3s linear;
  background-color: #3575ff52;
  animation: animate-btn__add-to-cart 0.3s;
}

.btn-quantity-control {
  border: 0;
  border-radius: 5rem;
  margin: 2px;
}

.btn-quantity-control:hover {
  background-color: #ff359052;
}

@keyframes animate-btn__add-to-cart {
  0% {
  }

  25% {
    margin-left: -0.5rem;
  }

  75% {
    margin-right: 0.5rem;
  }

  100% {
    margin-left: 0.5rem;
  }
}

.btn__add-to-cart {
  background-color: #d3d3d36c;
  border-radius: 150px !important;
}

.link-blue:hover {
  color: white;
}

.btn-view-all:hover {
  color: #f32f43;
  text-decoration: underline;
}

.quantity-control {
  border-radius: 5rem;
  background-color: blueviolet;
}

.container__hr-scrollable:after {
  display: block;
  content: '';
  width: 30px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: cadetblue;
}

.container__hr-scrollable > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.container__hr-scrollable > .row > .col-6 {
  display: inline-block;
}

div::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
  .card__product {
    width: 9rem;
    border: 1px solid red;
  }

  .title__item {
    font-size: 1rem;
    font-weight: 600;
  }

  .title__category-size {
    font-size: 1.2rem;
  }

  .w__sm-50 {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .w__md-50 {
    width: 50%;
  }

  .card__product {
    width: 9rem;
    border: 1px solid red;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .w__md-50 {
    width: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {
}
